<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spnj.tugasfoodsy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foodsy"
        android:label="@string/judul_app"
        android:roundIcon="@mipmap/ic_launcher_foodsy_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".foodies">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Layout_10"
            android:label="@string/restaurant"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Layout_18">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Layout_10" />
        </activity>
        <activity android:name=".OrderActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Layout_10" />
        </activity>
        <activity android:name=".Layout_15">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Layout_10" />
        </activity>
        <activity android:name=".Layout_17Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Layout_15" />
        </activity>
        <activity android:name=".layout_19Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OrderActivity" />
        </activity>
        <activity android:name=".Layout_20Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".layout_19Activity" />
        </activity>
        <activity android:name=".Layout_21Activity" />
        <activity android:name=".Layout03" />
        <activity android:name=".layout04" />
        <activity android:name=".layout2" />
        <activity android:name=".fb" />
        <activity android:name=".twitter" />

        <!-- Maps Android Key -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBBySYVw3Qt_b_nF3xKP83ghE-BCAFyl4o" />

        <!-- Maps -->

        <activity android:name=".layout_9"></activity>
    </application>

</manifest>